<div ng-controller="View1Ctrl">

    <div>
        <table class="table table-striped table-hover" style="max-width: 800px;">
            <thead>
            <tr>
                <th>Date</th>
                <th>Shop</th>
                <th>Account</th>
                <th>Number of items</th>
                <th class="text-right">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="receipt in receipts">
                <td>{{ receipt.date }}</td>
                <td><a href="#" title="View al receipts from Sodexo">{{ receipt.shop }}</a></td>
                <td>{{receipt.account}}</td>
                <td>{{ receipt.items.length }}</td>
                <td class="text-right">€ {{receipt.price | number:2}}</td>
                <td class="text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ receipt.id }}Modal">
                        View details
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="{{ receipt.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ receipt.id }}Modal"
             aria-hidden="true" ng-repeat="receipt in receipts">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{receipt.shop}}
                            <small>{{receipt.date}}</small>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit price</th>
                                <th class="text-right">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in receipt.items">
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>€ {{item.unitprice | number:2}}</td>
                                <td class="text-right">€ {{ item.quantity * item.unitprice | number:2}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td colspan="2">4</td>
                                <td class="text-right">€ {{receipt.price | number:2}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <dl class="dl-horizontal">
                            <dt>Card</dt>
                            <dd>{{receipt.card_type}}</dd>
                            <dd>{{receipt.card}}</dd>
                            <dt>Application</dt>
                            <dd>{{receipt.application}}</dd>
                            <dt>Payee/business</dt>
                            <dd>{{receipt.payee}}</dd>
                            <dt>Certificate</dt>
                            <dd>{{receipt.certificate}}</dd>
                            <dt>Reference</dt>
                            <dd>{{receipt.reference}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>